name: plano tools tests

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plano_tools_tests:
    runs-on: ubuntu-latest-m
    defaults:
      run:
        working-directory: ./cli

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: install plano tools
        run: |
          uv sync --extra dev

      - name: run tests
        run: |
          uv run pytest
