name: Publish planoai to PyPI

permissions:
  contents: read

on:
  release:
    types: [published]

jobs:
  publish-pypi:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./cli

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install poetry
        run: |
          export POETRY_VERSION=2.2.1
          curl -sSL https://install.python-poetry.org | python3 -
          export PATH="$HOME/.local/bin:$PATH"

      - name: Build and publish to PyPI
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          poetry publish --build
